
<!DOCTYPE html>
<html>  
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><||= packageTitle ||>Arturo Packages</title>

        <!-- Fonts -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/bulma@0.9.4/css/bulma.min.css,npm/prismjs@1.29.0/themes/prism.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!--<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700&family=Questrial&family=Inter:wght@100..900&display=swap" rel="stylesheet">-->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

        <!-- FavIcon -->
        <link rel="apple-touch-icon" sizes="57x57" href="<||= siteroot ||>/favico/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="<||= siteroot ||>/favico/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="<||= siteroot ||>/favico/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="<||= siteroot ||>/favico/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="<||= siteroot ||>/favico/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="<||= siteroot ||>/favico/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="<||= siteroot ||>/favico/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="<||= siteroot ||>/favico/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="<||= siteroot ||>/favico/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="<||= siteroot ||>/favico/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="<||= siteroot ||>/favico/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="<||= siteroot ||>/favico/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="<||= siteroot ||>/favico/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="<||= siteroot ||>/favico/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- Icons -->
        <script src="https://kit.fontawesome.com/8bfb2fe6f4.js" crossorigin="anonymous"></script>

        <!-- Jquery -->
        <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
            
        <!-- Extra styles -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/protip@1.4.21/protip.min.css">

        <!-- Our main style -->
        <link rel="stylesheet" type="text/css" href="<||= siteroot ||>/style.css">
    </head>
    <body>