<|| switch isSearch [||>
<a href="<||= getLink entry\name ø ||>" class="box package-box is-plain">
    <div class="package-header">
        <div class="title-wrapper">
            <h3 class="is-size-5">
                <span class="repo-author-name is-hidden-mobile"><||= entry\info\author\name ||> /</span>
                <span class="repo-name">
                    <b><||= entry\name ||></b>
                </span>&nbsp;
            </h3>
            <!-- <span class="icon repo-icon">
                <i class="fa fa-code"></i>
            </span> -->
            <div class="package-mini-description">
                <span class="description-text"><||= entry\info\description ||></span>
            </div>
        </div>
        <div class="is-size-6 is-pulled-right stats-wrapper">
            <div class="download-info">
                <span class="icon download-icon">
                    <i class="fas fa-download"></i>
                </span>&nbsp;
                <span id="<||= entry\name ||>-downloads" class="download-count">-</span>
            </div>&nbsp;&nbsp;
            <div class="star-info">
                <span class="icon star-icon">
                    <i class="fa fa-star"></i>
                </span>&nbsp;
                <span class="star-count" data-package="<||= replace entry\info\url "https://github.com/" "" ||>"><||= entry\info\stats\stars ||></span>
            </div>
        </div>
    </div>
</a>
<|| ][||>
<div class="box package-box<|| if isSearch [||> is-plain<||]||>">
    <div class="package-header">
        <div class="title-wrapper">
            <h3 class="is-size-5">
                <a href="<||= getLink entry\name ø ||>" class="repo-name">
                    <b><||= entry\name ||></b>
                </a>&nbsp;
            </h3>
            <a href="<||= entry\info\url ||>">
                <span class="icon repo-icon">
                    <i class="fa fa-code"></i>
                </span>
            </a>
        </div>
        <div class="is-size-6 is-pulled-right stats-wrapper<|| unless isSearch [||> is-hidden-tablet-only<|| ] ||>">
            <div class="download-info">
                <span class="icon download-icon">
                    <i class="fas fa-download"></i>
                </span>&nbsp;
                <span id="<||= entry\name ||>-downloads" lass="download-count">-</span>
            </div>&nbsp;&nbsp;
            <div class="star-info">
                <span class="icon star-icon">
                    <i class="fa fa-star"></i>
                </span>&nbsp;
                <span class="star-count" data-package="<||= replace entry\info\url "https://github.com/" "" ||>"><||= entry\info\stats\stars ||></span>
            </div>
        </div>
    </div>
    <div class="package-body">
        <p><||= entry\info\description ||></p>
    </div>
    <div class="package-footer">
        <!-- <div class="columns is-mobile">
            <div class="column is-6 is-12-tablet is-6-desktop repo-user"> -->
                <div class="is-pulled-left">
                    <span class="icon repo-user-icon">
                        <i class="fa fa-user"></i>
                    </span>&nbsp;
                    <a href="<||= entry\info\author\url ||>" class="repo-user-name"><||= entry\info\author\name ||></a>
                </div>
            <!--</div>
            <div class="column is-6 is-hidden-tablet-only repo-license">-->
                <div class="is-pulled-right">
                    <span class="icon repo-license-icon">
                        <i class="fa fa-balance-scale"></i>
                    </span>&nbsp;
                    <a href="<||= entry\version\0\details\license\url ||>" class="repo-license-name"><||= entry\version\0\details\license\name ||></a>
                </div>
            <!--</div>
        </div>-->
    </div>
</div>
<||]||>

<script>
    $(document).ready(function(){
        $.get("https://pkgr.art/getdownloads.php?pkg=<||= entry\name ||>", function (data, status){
            $("#<||= entry\name ||>-downloads").html(data);
        });
    });
</script>