<div class="box package-box">
    <div class="package-header">
        <div class="columns is-mobile">
            <div class="column is-6">
                <div class="title-wrapper">
                    <h3 class="is-size-5">
                        <a href="<||= getLink entry\name ø ||>" class="repo-name">
                            <b><||= entry\name ||></b>
                        </a>&nbsp;
                    </h3>
                    <a href="<||= entry\info\url ||>">
                        <span class="icon repo-icon">
                            <i class="fa fa-github"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="column is-6">
                <div class="is-size-6 is-pulled-right stats-wrapper">
                    <div class="download-info">
                        <span class="icon download-icon">
                            <i class="fas fa-download"></i>
                        </span>&nbsp;
                        <span class="download-count">256</span>
                    </div>&nbsp;&nbsp;
                    <div class="star-info">
                        <span class="icon star-icon">
                            <i class="fa fa-star"></i>
                        </span>&nbsp;
                        <span class="star-count" data-package="<||= replace entry\info\url "https://github.com/" "" ||>"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="package-body">
        <p><||= entry\info\description ||></p>
    </div>
    <div class="package-footer">
        <hr/>
        <div class="columns is-mobile">
            <div class="column is-6 repo-user">
                <div class="is-pulled-left">
                    <span class="icon repo-user-icon">
                        <i class="fa fa-user-o"></i>
                    </span>&nbsp;
                    <a href="<||= entry\info\author\url ||>" class="repo-user-name"><||= entry\info\author\name ||></a>
                </div>
            </div>
            <div class="column is-6 repo-license">
                <div class="is-pulled-right">
                    <span class="icon repo-license-icon">
                        <i class="fa fa-balance-scale"></i>
                    </span>&nbsp;
                    <a href="<||= entry\info\license\url ||>" class="repo-license-name"><||= entry\info\license\name ||></a>
                </div>
            </div>
        </div>
    </div>
</div>