<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <figure class="avatar">
                    <img src="images/logo.png">
                </figure>
                <h3 class="title has-text-black" style="font-family: 'Questrial'">Arturo <span class="animate-character">Packages</span></h3>
                <div class="control has-icons-left">
                    <input class="input is-large" type="search" placeholder="Search anything" style="border-radius: 15px; text-align: center"/>
                    <span class="icon is-medium is-left">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            <div>
        </div>
    </div>
</section>